@model PortfolioProject.Models.CreateEventViewModel

@{
    ViewData["Title"] = "Create";
    // Create selected list 
    List<SelectListItem> contactsSelectList = new();
    List<SelectListItem> locationSelectList = new();
    List<SelectListItem> categorySelectList = new();

    // Get contacts
    foreach (ContactInfo contacts in Model.AllContacts)
    {
        // Make a list of select items
        contactsSelectList.Add
        (
            new SelectListItem()
            { 
                Value = contacts.Id.ToString(),
                Text = contacts.FirstName
            }
        );
    }

    // Get locations
    foreach (Location locations in Model.AllLocations)
    {
        // Make a list of select items
        locationSelectList.Add
        (
            new SelectListItem()
            {
                Value = locations.LocationId.ToString(),
                Text = locations.LocationName
            }
        );
    }

    // Get category
    foreach (EventType category in Model.AllCategories)
    {
        // Make a list of select items
        categorySelectList.Add
        (
            new SelectListItem()
            {
                Value = category.EventId.ToString(),
                Text = category.Category
            }
        );
    }
}

<h1>Create</h1>

<h4>Event Form</h4>
<a class="form-group btn btn-outline-primary" asp-area="" asp-controller="Contacts" asp-action="Create">Create Contact</a>
<a class="form-group btn btn-outline-primary" asp-area="" asp-controller="Locations" asp-action="Create">Add Locations</a>
<a class="form-group btn btn-outline-primary" asp-area="" asp-controller="EventTypes" asp-action="Create">Categories</a>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventTitle" class="control-label"></label>
                <input asp-for="EventTitle" class="form-control" />
                <span asp-validation-for="EventTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDateTime" class="control-label"></label>
                <input asp-for="StartDateTime" class="form-control" />
                <span asp-validation-for="StartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateTime" class="control-label"></label>
                <input asp-for="EndDateTime" class="form-control" />
                <span asp-validation-for="EndDateTime" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <select asp-for="ChosenContact">
                    @foreach(ContactInfo contact in Model.AllContacts)
                    {
                        <option value="@contact.Id">@contact.FirstName @contact.LastName</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <select asp-for="ChosenLocation">
                    @foreach(Location location in Model.AllLocations)
                    {
                        <option value="@location.LocationId">@location.LocationName</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <select asp-for="ChosenCategory"> 
                    @foreach (EventType category in Model.AllCategories)
                    {
                        <option value="@category.EventId">@category.Category</option>
                    }
                </select>
            </div>
             <div class="form-group">
                <label asp-for="PhotoTitle" class="control-label"></label>
                <input asp-for="PhotoTitle" class="form-control" />
                <span asp-validation-for="PhotoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadImage" class="control-label"></label>
                <input asp-for="UploadImage" class="form-control" />
                <span asp-validation-for="UploadImage" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
                <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>