@model PortfolioProject.Models.EventForm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event Form</h4>
    <hr />
    <dl class="row"> 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTitle)     
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.PhotoTitle)
        </dt>
        <dd class = "col-sm-10">
            <img height="200" src="~/images/@Model.PhotoUrl" />  
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)     
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)     
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd> 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventBy.FirstName)
            @Html.DisplayNameFor(model => model.EventBy.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventBy.FirstName)
            @Html.DisplayFor(model => model.EventBy.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventBy.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventBy.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.City),           
            @Html.DisplayNameFor(model => model.Location.State) 
            @Html.DisplayNameFor(model => model.Location.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.City),
            @Html.DisplayFor(model => model.Location.State) 
            @Html.DisplayFor(model => model.Location.Zip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>